In [1]:
import pandas as pd

# Step 1: Create a DataFrame from the list of dictionaries below:

[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [2]:
dic=[{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100}, 
{'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,'retail_price':75, 'sales':1000},
{'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
{'product_id':15, 'name':'banana', 'wholesale_price': 0.5,'retail_price':1, 'sales':200},
{'product_id':87, 'name':'sandwich', 'wholesale_price': 3,'retail_price':5, 'sales':300}]

In [3]:
df=pd.DataFrame(dic)
df.head()

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

# Step 2:  Calculate the Total Profit for each product using the formula 

```

net_revenue_per_product = (retail_price - wholesale price) * sales
```

In [4]:
df['net_revenue_per_product']= (df['retail_price'] - df['wholesale_price']) * df['sales']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product
0,23,computer,500.0,1000,100,50000.0
1,96,Python Workout,35.0,75,1000,40000.0
2,97,Pandas Workout,35.0,75,500,20000.0
3,15,banana,0.5,1,200,100.0
4,87,sandwich,3.0,5,300,600.0

# step-3-1 How much total net revenue you received from all of these sales?

In [5]:
toatal_net_revenue=sum(df['net_revenue_per_product'])
print(toatal_net_revenue)

110700.0

# step-3-2 What product is product retail price more than twice the wholesale price?

In [7]:
filt=df['retail_price']>2*df['wholesale_price']
df.loc[filt,'name']

1    Python Workout
2    Pandas Workout
Name: name, dtype: object

# How much did the store make from food vs. computers vs. books?

In [20]:
#for computer
com_df=df.loc[df['name']=='computer','net_revenue_per_product']
net_revenue_com=sum(com_df)
print(f'The net revenue from computers is: {net_revenue_com}')
#for Books
filt=(df['name']=='Python Workout') | (df['name']=='Pandas Workout')
book_df=df.loc[filt,'net_revenue_per_product']
net_revenue_book=sum(book_df)
print(f'The net revenue from Books is: {net_revenue_book}')
#for foods
filt=(df['name']=='banana') | (df['name']=='sandwich')
food_df=df.loc[filt,'net_revenue_per_product']
net_revenue_food=sum(food_df)
print(f'The net revenue from foods is: {net_revenue_food}')

The net revenue from computers is: 50000.0
The net revenue from Books is: 60000.0
The net revenue from foods is: 700.0

# step-3-4  Because your store is doing so well, you’re able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue

In [9]:

df['wholesale_price']=0.7*df['wholesale_price']
df['new_net_revenue']= (df['retail_price'] - df['wholesale_price']) * df['sales']
df

,product_id,name,wholesale_price,retail_price,sales,net_revenue_per_product,net_net_revenue,new_net_revenue
0,23,computer,245.000,1000,100,50000.0,65000.0,75500.0
1,96,Python Workout,17.150,75,1000,40000.0,50500.0,57850.0
2,97,Pandas Workout,17.150,75,500,20000.0,25250.0,28925.0
3,15,banana,0.245,1,200,100.0,130.0,151.0
4,87,sandwich,1.470,5,300,600.0,870.0,1059.0